/* ================= ABOUT PAGE ================= */
/* === ABOUT PAGE START === */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: url("christopher-gower-m_HRfLhgABo-unsplash.jpg") no-repeat center center/cover;
}
/* Container */
.container {
  max-width: 1000px;
  margin:150px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.566);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(2.5px);
}

/* Headings */
.container h2 {
  margin-top: 25px;
  color: rgb(238, 255, 0);
  font-size: 24px;
  border-left: 5px solid #ffffff;
  padding-left: 10px;
}

/* Paragraphs */
.container p {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

/* Lists */
.container ul {
  margin-top: 15px;
  margin-left: 20px;
}

.container ul li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #ffffff;
}
footer p{
    padding: 18px;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
}